<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Check your Insurance cost</title>
  </head>
  <body>
    <div class="container">
      <!--<img src="../static/logo1.png" alt="Lexus" class="logo" />-->
      <h2>Estimate Health Insurance Cost</h2>
      <h3>Fill the following Form to estimate your insurance cost:</h3>
      {% if message %}
      <p class="message">{{ message | safe }}</p>
      {% endif %}
      <form action="/submit" method="POST">
        
        
         
        <div class="form-group">
          <h3>Customer Name</h3>
          <input
            type="text"
            name="name_input"
            placeholder="Name of user"
          />
        </div>
          
          
          
          
        <div class="form-group">
          <h3>Gender</h3>
          <select name="sex_input">
            <option value="number">Select Gender</option>
            <option value="1">Male</option>
            <option value="0">Not Male</option>
            
          </select>
        </div>
         <div class="form-group">
          <h3>Smoker Status</h3>
          <select name="smoker_input">
            <option value="number">Select Gender</option>
            <option value="1">Smoker</option>
            <option value="0">Not Smoker</option>
            
          </select>
        </div>
          
        <div class="form-group">
         <h3>Customer Age</h3>
            
          <input
            type="number"
            name="age_input"
            placeholder="What is Your Age?" 
          />
          
        </div>
          
        <div class="form-group">
         <h3>Customer BMI</h3>
          <input
            type="number"
            step="any"
            name="bmi_input"
             placeholder="What is Your BMI?" 
          />
        </div>
          
        <div class="form-group">
         <h3>Customer's Number of Children</h3>
          <input
            type="number"
            name="children_input"
             placeholder="How Many Children do you Have??" 
          />
        </div>  
          
          
        
        
        <input type="submit" value="submit" class="btn" />
      </form>
    </div>
  </body>
</html>
